<h1>Day 2</h1>
<button (click)="showEmployee = !showEmployee">show /hide Employee</button>
<div *ngIf="showEmployee">
  <div *ngFor="let employee of employees">
    <p>Name: {{ employee.name | capitalize }}</p>
    <p>Age: {{ employee.age }}</p>
    <p>Department: {{ employee.department | uppercase }}</p>
    <hr />
  </div>
</div>

<hr>

<h1>Students From API</h1>

<div *ngIf="students.length > 0">

  <div *ngFor="let student of students">

    <p>Name: {{ student.name }}</p>
    <p>Address: {{ student.address }}</p>
    <p>Gender: {{ student.gender }}</p>

    <hr>

  </div>

</div>